# Application Port
PORT=3000

# Comma-separated secret tokens. If left empty, security protection will be disabled!
AUTH_TOKENS=your_secret_admin_token,friend_token_2

# Allow connections to private IP ranges (127.0.0.1, 10.x.x.x, etc.)
ALLOW_PRIVATE_IPS=true
